
<form class="form-horizontal" id="form" name="form">
    <ul id="myTab" class="nav nav-tabs">
        <li class="active">
            <a href="#home" data-toggle="tab">公告详情</a>
        </li>
        <!-- <li><a href="#senior" data-toggle="tab">高级设置</a></li> -->
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="home">
            <div class="form-group" style="margin-top: 15px;">
                <label class="col-md-2 control-label">标题:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" v-model="form.title">
                </div>
            </div>
            <div class="form-group ">
                <label class="col-md-2 control-label" for="exampleInputFile" style="line-height: 100px;">单页内容:</label>
                <div class="col-md-10">
                    <textarea id="editor_id" name="content" style="width:600px;height:500px;"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">排序:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" v-model="form.order">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-2">
                    <button v-on:click="post" type="button" class="btn btn-default">确定</button>
                </div>
                <div class="col-md-offset-0 col-md-2">
                    <button type="button" class="btn btn-default" @click="black">返回</button>
                </div>
            </div>
        </div>
        <!-- <div class="tab-pane fade" id="senior">
            <div class="form-group">
                <label class="col-md-2 control-label" style="line-height: 100px;">单页图片1:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" v-model="form2.pic1" style="margin-top: 40px">
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-primary pic" style="margin-top: 40px;display:none;" onclick="$('#tbpic').click();" >点击上传</button>
                </div>
                <div class="col-md-2">
                    <img id="pic1" onclick="init.picItem='pic1';$('#tbpic').click();" src="/Public/images/no_pc.gif" style="width: 98px;height: 98px;border: 1px solid #afafaf;cursor:pointer;">
                </div>
            </div>
            <input id="tbpic" name="tbpic" type="file" class="" style="margin-top: 40px;display: none;" onchange="up_tbpic()">
        </div> -->
    </div>
</form>
<script>

    var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
    var form=new Vue({
        el:"#form",
        data:{
            form:{$message},
        },
        methods:{
            post:function(){
                if(form.form.title==""){
                    alert("请输入标题");
                    return;
                }
                if(editor.html()==""){
                    alert("请输入内容");
                    return;
                }
                form.form.content=editor.html();
                $.post("/index.php?m=Admin&c=Message&a=doUpdateMessage",{form:form.form},function(res){
                    if(res.status==1){
                        dialog.successFun(res.message,function() {
                            nav.messageList();
                        })
                    }
                    else{
                        dialog.error(res.message);
                    }
                },"json")
            },
            black:function() {
                $.get("/index.php?m=Admin&c=message&a=messageList",{},function(res) {
                    $("#content").html(res);
                })
            },
        }
    });
    setTimeout(function() {
            editor.html(form.form.content);
        },500);
    //异步上传图片并预览
    // function up_tbpic(){
    //     $.ajaxFileUpload(
    //     {
    //         url: '/index.php?m=Admin&c=List&a=doUpload&tbpic='+form.form2[init.picItem], //用于文件上传的服务器端请求地址
    //         secureuri: false, //是否需要安全协议，一般设置为false
    //         fileElementId: 'tbpic', //文件上传域的ID
    //         dataType: 'json', //返回值类型 一般设置为json
    //         success: function (data, status)  //服务器成功响应处理函数
    //         {
    //             $("#"+init.picItem).attr("src",data.responseText);
    //             form.form2[init.picItem]=data.responseText;
    //         },
    //         error: function (data, status, e)//服务器响应失败处理函数
    //         {
    //             $("#"+init.picItem).attr("src",data.responseText);
    //             form.form2[init.picItem]=data.responseText;
    //         }
    //     });
    // };
</script>
